/* GLOBAL STYLE */
html, body {
    font-family:'Rubik';
    font-size: 1rem;
    color: #0E1214;
}

p {
    font-family:'Rubik';
    font-size: 1.5rem;
    color: #0E1214;
}


h1,h2,h3,h4,h5,h6 {
    font-family:'Karla';
}

.display-4 {
    font-size: 3rem;
}

nav {
    z-index:9999;
}

nav ul {
    margin-left: 20%;
}

nav ul li{
    margin: auto;
}

.navbar.active {
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-item a span {
    color: #ffffff !important;
}

.navbar.active .nav-link {
    color: rgb(255, 255, 255);
}
.navbar.active .navbar-toggler, .navbar .navbar-toggler  {
    margin-top: 4% !important;
}

.navbar.active i, .navbar i {
    color: #d4d3d3;
}

.navbar .fa-bars:before {
    top: 14%;
    position: relative;
}

.navbar button.navbar-toggler:focus {
    outline: none;
}

div#navbarCollapse.show, div#navbarCollapse.collapsing {
    background: #4e4c4c !important;
    padding: 6%;
}

div#navbarCollapse.show li {
    margin-bottom: 3%;
}

div#back-to-top {
    position: fixed;
    width: 80px;
    height: 80px;
    background: #1d1c1c;
    bottom: 4%;
    color: #fbfafa;
    font-size: 5.4rem;
    right: 4%;
}

div#back-to-top:hover{
    cursor: pointer;
    background: #404242;
}

/* 
.lobster{
    font-family: 'Lobster', cursive;
} */

.navbar ul li a {
    text-decoration: none;
    color: white;
}
#index, #search, #maps, #login{
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 1.5s;
}

#clock {
    width: 70%;
    position: relative;
    font-size: 3vw;
    color: #B9D9DC;
    margin: 0px;
}

.logo1{
    font-family: 'Sonsie One';
    font-size: 5rem;
    color:#00B567;
}
.logo2{
    font-family: 'Sonsie One';
    font-size: 5rem;
    color:#5AA8ED;
}

#buttonSize{
    font-size: 25px;
}
/* Logout */
.popup-background    {
    width:100%;
}

/* register.html */
#reg .popup-login .btn, .popup-login button{
    width: 100%;
    margin: 7% 0;
    padding: 5%;
    border-radius: 40px;
    transition: transform 0.5s;
    color: #fff;
    font-size: 1.3rem;
}

/* index.html */
  #index #landing ul{
      list-style-type: square;
  }

  #index .navbar ul li a:hover {
    color: #f4f4f4;
  }

  #index .navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
  }

  #index .navbar ul li {
  margin-right: 10%;
  }

  #index div#about, #index div#abt-us, #index div#meet-the-team, div#action, #index div#caption{
      height:88vh;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  }

    #index #action .wrapper, #index #meet-the-team .wrapper {
        margin: auto;
    }

  #index #caption{
      height: 100vh !important;
      background: #212529;
      background-image: url("../images/2147.png");
      /*background-image: url("../images/6n.png")*/
  }

  #index #caption .typewriter{
      width: fit-content;
      margin: auto;
  }
  #index #caption #typewriterbig{
    font-size: 8rem;
  }
  #index #caption .typewriter ::before {
      content: open-quote;
      font-size: 2em;
  }
    #index #caption .typewriter ::after {
      content: close-quote;
       font-size: 2em;
    }


  #index #landing.col-sm-12>div{
    /* margin-left: 7%; */
    /* background: rgba(176,173,177,0.38); */
    /* padding: 2% 6%; */
    border-radius: 71px;
    width: 70%;
    background: #F2F0F3;
    padding: 5%;
    border: 1px solid #838383;
    box-shadow: 2px 2px #424242;
    color: #000000;
    font-weight: bolder;
  }

    #index #action {
        height: 88vh;
        background: url(../images/ezgif.com-gif-maker.gif);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    #index #action h1{
        margin-bottom:2%;
        color: white;
    }

    #index #action a {
        font-size: 2rem;
        letter-spacing: 0.8rem;
        padding: 5%;
        height: 100%;
        width: 100%;
        box-shadow: 0px 0px 14px #2e1c1c;
    }


  #index div#landing {
      height: 90vh;
      text-align: left;
      background-image: url("../images/1n.png");
      width: 100%;
      background-size: cover;
      background-position: 1% 50%;
      background-repeat: no-repeat;
      min-height: 100%;
      color: rgb(0, 0, 0);
  }


    #index #abt-us {
    /*background-image: url("../images/1635.png");*/
        background-image: url("../images/19199268.png");
        background-position: 0 10% !important;
        /*font-size:1.6rem;*/
    }

    #index #about{
        background: white;
        padding: 5% 0 ;
    }

    #index #about {
        height: fit-content !important;
    }

    #index div#about .wrapper {
        padding: 6%;
        border-radius: 24px;
    }

    div#about-1, div#about-2, div#about-3 {
        margin: 3% 0;
    }

    #index #about #about-1{
        background: #33CCFF;
    }

    #index #about #about-2{
        background: #FCE354;
    }

    #index #about #about-3{
        background: #4afc7c;
    }

    #index #about #about-4  {
        background: darkorange;
        padding: 4% 3%;
        display:flex;
    }

    #index a:hover{
        text-decoration: none;
    }

    #index #about #about-4 img {
        width: 100%;
    }

    #index #meet-the-team{
    background-image: url("../images/business-parking-empty-carpark-abstract.jpg");
    }

    #index .team_img{
        height:200px;
        width:200px;
        padding: 1%;
        border-radius: 50%;
    }
    #index h2, #login form .divlabel{
        margin-bottom: 2%;
    }
    #index .team_img:hover{
        transition: transform 0.5s;
        transform: scale(1.2);
    }

    div#abt-us .wrapper {
        width: 80%;
        background: white;
        padding: 5%;
        border: 1px solid #ebebeb;
        box-shadow: 2px 2px 4px #585252;
        margin: auto;
    }

    div #abt-us .wrapper.border-left {
        border-radius: 45px 0;
    }

    div #abt-us .wrapper.border-right {
        border-radius: 0 45px;
    }

    #readytostart{
        font-size: 7rem;
    }

    .modal-backdrop {
        z-index: 1000;
    }

    #LoginRegisterModal .modal-content, #LogoutModal .modal-content, #RegisterModal .modal-content {
        padding: 8%;
    }

    #LoginRegisterModal a:hover, #LogoutModal a:hover, #RegisterModal a:hover {
        cursor:pointer;
    }

    #maps #mapspopupbtn{
        position: absolute;
        top: 18rem;
        right: 4rem;
   }


/*.popup-background{*/
    /*z-index:1;*/
    /*display: flex;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*background: #1d1c1c85;*/
    /*border-radius: 25px;*/
/*}*/

/*.popup-login{*/
    /*background: white;*/
    /*width: 34vw;*/
    /*box-shadow: 2px 2px 10px #4d4949;*/
/*}*/



/*.popup-login .btn, .popup-login button{*/
    /*width: 100%;*/
    /*margin: 7% 0;*/
    /*padding: 5%;*/
    /*border-radius: 3px;*/
    /*transition: transform 0.5s;*/
    /*color: #fff;*/
    /*font-size: 1.3rem;*/
/*}*/
/*.popup-background .close{*/
    /*position: relative;*/
    /*top:0;*/
    /*right:0;*/
    /*width: 50px;*/
    /*height: 50px;*/
    /*margin-top: 0;*/
    /*margin-bottom: 0;*/
    /*padding:initial;*/
    /*background: #dc3545;*/
    /*border-radius: 50%;*/
    /*color:White*/
/*}*/

/*.popup-login .btn:hover, .popup-login button:hover {*/
    /*transform: scale(1.1);*/
/*}*/
/* maps.html */
#maps #map {
    height: 100%;
}

/* schedule.html */


#schedule>.row:nth-of-type(1n) {
    background-image: url("../images/3956379.png");
    background-size: cover;
    height: 100vh;
}

#schedule .content {
    border: 2px solid #ebebeb;
    padding: 4%;
    height: fit-content;
    border-radius: 40px;
    margin: 17vh 15vw 0vh 15vw;
    box-shadow: 9px 7px 10px #FBF8F6;
}

/* #schedule .desc h1, #schedule h1.mt-2 {
    font-family: 'Lobster';
} */

/* login.html */

#login .popup-background {
    height: 100vh;
    top: 0;
    position: absolute;
    background: url("../images/1635.png");
    background-position: center;
}

#login .popup-login {
    padding: 4% 4% !important;
    background: white !important;
}

#login .popup-login button {
    padding: 3%;
}

#login input {
    padding: 2% 4%;
}
#login form .divlabel {
    font-size: 1.4rem;
    float: left;
    clear: both;
}
/* search.html */
#search div.content {
    height: 100vh;
    /*backgrond-image: url(https://media0.giphy.com/media/Jq26vc4lfhtAKYeyVy/giphy.gif);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/bg.gif");
    /*background: white;*/
}


#search #wherego {
    border: 1px solid #a7a7a7;
    padding: 4%;
    box-shadow: 2px 0px 6px #5d5858;
    margin: auto;
    color: azure;
    background: rgb(65 68 65 / 70%);
}

#search input {
    padding: 2.3%;
    font-size: large;
}

#search .card-columns{
    margin: 0 2%;
}

#search p.card-text {
    font-size: 1.2rem;
}

#search .card-body {
    padding: 4% 8%;
}


#search .carousel.slide {
    margin-top: 5%;
}
/* Carousel */

.carousel-control-next, .carousel-control-prev {
    width: 5%;
}
.carousel-item.active {
    padding: 0 5% 5% 5%;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 40px;
    height: 40px;
    background-color: black;
    background-size: 50%;
    border-radius: 50%;
    border: 1px solid black;
}

.carousel-indicators li {
    background: #6c757d;
    width: 8px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 7px solid #6c757d;
    margin-bottom: 2%;
}


/*Stars Review*/
.checked{
    color: orange;
}

.rating-group {
    display: inline-flex;
}   

/* make hover effect work properly in IE */
.rating__icon {
  pointer-events: none;
}

/* hide radio inputs */
.rating__input {
 position: absolute !important;
 left: -9999px !important;
}

/* set icon padding and size */
.rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 2rem;
}

/* set default star color */
.rating__icon--star {
  color: orange;
}

/* set color of none icon when unchecked */
.rating__icon--none {
  color: #eee;
}


/* if any input is checked, make its following siblings grey */
.rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

/* make all stars orange on rating group hover */
.rating-group:hover .rating__label .rating__icon--star {
  color: orange;
}

/* make hovered input's following siblings grey on hover */
.rating__input:hover ~ .rating__label .rating__icon--star {
  color: #ddd;
}

/* make none icon grey on rating group hover */
.rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
   color: #eee;
}

/* profile.html */

#profile {
    background-image: url("../images/1n.png");
    min-height: 100vh;
}

#profile #about>div, #profile #posts {
    background: white;
    box-shadow: 0 0 6px #424141;
}

#profile #about>div{
    border-radius: 40px 40px 0 0;
    margin-top: 10% !important;
}

#profile #about div.w-100{
    top: -8em;
    position: relative;
}

#profile i.fa-images{
    position: absolute;
    top: 2em;
    font-size: 1.4rem;
}

#profile i.fa-images:hover, #profile i.fa-pencil-alt:hover{
    cursor: pointer
}

#profile .img-raised {
    box-shadow: 0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2);
    border-radius: 50%!important;
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 14rem;
    width: 14rem;
}


#profile .description {
    color: #999;
    font-weight: 300;
}

#profile #posts{

    margin-top: 1% !important;
    /*background:red;*/
    /*padding : 4%;*/
    /*box-shadow: 2px 2px 6px beige;*/
}

#addcarpark_user {
    background-image: url(../images/1n.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    max-height: 100vh;
    overflow: hidden;
}

#addcarpark_user form {
    background: #fdfdfd;
    padding: 2% 4%;
    margin: 3% auto;
    width: fit-content;
    border-radius: 16px;
    box-shadow: 2px 2px 2px #525151;
}

#review .review{
    box-shadow: 0 0 4px #b2b1b1;
    padding: 2% 4%;
    margin: 2% 0;
}

#review .review .wrapper{
    font-size:1.1rem
}


/*buttons*/
.btn {
    position: relative;
    padding: 12px 30px;
    margin: .3125rem 1px;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.428571;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;
    border: 0;
    border-radius: .2rem;
    outline: 0;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);
    will-change: box-shadow,transform;
}

.btn.btn-just-icon {
    font-size: 20px;
    height: 41px;
    min-width: 41px;
    width: 41px;
    padding: 0;
    overflow: hidden;
    position: relative;
    line-height: 41px;
}

.btn.btn-just-icon fa{
    margin-top: 0;
    position: absolute;
    width: 100%;
    transform: none;
    left: 0;
    top: 0;
    height: 100%;
    line-height: 41px;
    font-size: 20px;
}
.btn.btn-link{
    background-color: transparent;
    color: #999;
}

/* dropdown */


.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 11rem !important;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: transform .3s cubic-bezier(.4,0,.2,1),opacity .2s cubic-bezier(.4,0,.2,1);
}

.dropdown-menu.show{
    transition: transform .3s cubic-bezier(.4,0,.2,1),opacity .2s cubic-bezier(.4,0,.2,1);
}


.dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:hover, .dropdown-menu a:active, .dropdown-menu a:focus, .dropdown-menu a:hover {
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(156,39,176,.4);
    background-color: #9c27b0;
    color: #FFF;
}
.show .dropdown-toggle:after {
    transform: rotate(180deg);
}

.dropdown-toggle:after {
    will-change: transform;
    transition: transform .15s linear;
}


.dropdown-menu .dropdown-item, .dropdown-menu li>a {
    position: relative;
    width: auto;
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    color: #333;
    font-weight: 400;
    text-decoration: none;
    font-size: .8125rem;
    border-radius: .125rem;
    margin: 0 .3125rem;
    transition: all .15s linear;
    min-width: 7rem;
    padding: 0.625rem 1.25rem;
    min-height: 1rem !important;
    overflow: hidden;
    line-height: 1.428571;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.dropdown-menu.dropdown-with-icons .dropdown-item {
    padding: .75rem 1.25rem .75rem .75rem;
}

.dropdown-menu.dropdown-with-icons .dropdown-item .material-icons {
    vertical-align: middle;
    font-size: 24px;
    position: relative;
    margin-top: -4px;
    top: 1px;
    margin-right: 12px;
    opacity: .5;
}

/* footer */

footer{
    margin-top: 10px;
    color: #555;
    padding: 25px;
    font-weight: 300;
    
}
.footer p{
    margin-bottom: 0;
    font-size: 14px;
    margin: 0 0 10px;
    font-weight: 300;
}
footer p a{
    color: #555;
    font-weight: 400;
}

footer p a:hover {
    color: #9f26aa;
    text-decoration: none;
}


/* DO NOT EDIT BELOW */
@media only screen and (max-width: 810px) and (min-width: 601px) {
    #index .popup-login button {
        border-radius: 15px !important;
    }

    #index .popup-login{
        width: 48vw;
    }
    html, body{
    width:100%;
    overflow-x:hidden;
    }
}


@media only screen and (max-width: 600px) {
    html, body {
        font-size: 0.8rem;
        width:100%;
        overflow-x:hidden;
    }
    .display-4 {
        font-size: 3rem;
    }

    .navbar .navbar-collapse, .navbar.active .navbar-collapse{
        margin-top: 4% !important;
    }
    .navbar-brand {
        box-shadow: 0 4px 2px -2px #7997a5;
    }
    nav ul li{
        margin: initial;
    }
    nav ul {
        font-size: 1.1rem;
        margin-left: initial;
    }

     .logo1, .logo2{
        font-size:2rem;
    }

    nav .navbar-brand img{
        vertical-align:middle !important;
    }

    nav .mobile-light {
        color: #fff !important;
    }

    div#back-to-top {
        font-size: 7.5rem;
    }

    #LoginRegisterModal a, #LoginRegisterModal label, #LoginRegisterModal button, #LogoutModal a, #LogoutModal label, #LogoutModal button, #RegisterModal a, #RegisterModal label, #RegisterModal button {
        font-size: 1.2rem;
    }

    #index .typewriter h1{
        text-align: center;
        white-space: normal;
        border-right: 0;
    }

    #index div#about, #index div#abt-us, #index div#meet-the-team{
        height: auto;
    }

    #index #landing.col-sm-12>div{
        width: 100%;
        margin-left: auto;
        padding: 8%;
    }
    #index #about #about-4{
        display: inline-block !important;
    }
    #index #about #about-4 div{
        margin: 9% 0;
    }

    #index #about.col-sm-12>div{
        height: auto;
        padding: 4% 6%;
    }
    #index #action a{
        padding: 12% 4%;
        width: 80%;
    }
    #index div#abt-us .wrapper {
         width: 90%;
         margin: 10% auto;
         box-shadow: 1px 1px 13px #5f5e5e;
        border-radius: 0 !important;
     }
    #index div#meet-the-team {
        padding-top: 10%;
        padding-bottom: 10%;
    }

    #search #wherego{
        width: 90%;
        padding: 10% 8%;
        box-shadow: 2px 2px 3px #161515;
    }

    #search div#results {
        font-size: 1rem;
    }

    #search .card{
        margin: 4%
    }

    #search .card-body small {
        font-size: 1rem;
    }

    #search .fas.fa-search {
        display: none;
    }

    #search #wherego .form-group, #search #wherego h1 {
        text-align: center;
    }

    #search #wherego input#search_text {
        margin: inherit;
    }

    #schedule .content {
        padding: 6% 11%;
        width: 90%;
        margin: auto;
    }

    #review div#image_output {
        max-height: 60vh;
        box-shadow: 2px 2px 4px #737373;
        overflow: auto;
    }

    #review .review{
        padding: 4% ;
        margin: 4% 0 ;
    }

    #review .review .wrapper, #review .form-group{
        font-size: 1.3rem ;
    }

    #addcarpark_user form label {
        font-size: 1rem;
    }

    #addcarpark_user form {
        padding: 9%;
        margin: 14% auto;
    }


}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

